<!--
    Title: EMS Assignment
    Author: Evan Durkin
    Date: September 18, 2021
-->

<nav class="navbar navbar-expand-sm" style="background-color: #675C7A;">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#">Contact Us</a>
        </li>
    </ul>
</nav>