<!-------------------------------
    Title: EMS Assignment
    Author: Evan Durkin
    Date: October 3, 2021
    Description: navigation bar
--------------------------------->

<nav class="navbar navbar-expand-sm" style="background-color: #675C7A;">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" style="color: white;" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/list">Employee List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white;" href="/new">Add New Employee</a>
        </li>
    </ul>
</nav>