<!--
    Author: Evan Durkin
    Title: Assignment 3.4
    Date: Aug 26, 2021
-->

<!--insert header.ejs-->
<%- include('header'); -%>

<!--container for about page message-->
<div role="main" class="container">
    <br></br>
    <h2>Welcome to the <%= message %>!</h2>
</div>

<!--insert footer.ejs-->
<%- include('footer'); -%>